.blocks {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.block {
  position: relative;
  width: 100%;

  .title {
    position: absolute;
    top: 1rem;
    color: white;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 29%), 2px 4px 7px rgb(73 64 125 / 35%);
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}